<app-nav-bar></app-nav-bar>
@if(userProfile.userId == undefined){
    <p>Loading</p>
}
@else{
    <h1>{{userProfile.userName}}</h1> 
    <p>{{userProfile.firstName}} {{userProfile.lastName}}</p>
    <img [src]="createImgPath(userProfile.image.path)" >
    
    <p>{{userProfile.bio}}</p>
    
    <ul>
    @for(e of userProfile.events; track $index){
        <h2><a routerLink="/Event/{{e.eventId}}">{{e.name}}</a></h2>
        <img [src]="createImgPath(e.image.path)" >
        <p>{{e.description}}</p>
    }
    </ul>
}

@if(activeUser().userId == userProfile.userId && activeUser().userId != undefined){
    @if(displayUserUpdateForm){
        <p (click)="toggleDisplayUpdate()">Close</p>
        <app-user-update-form></app-user-update-form>
    }
    @else {
        <p (click)="toggleDisplayUpdate()">Update User Info</p>
    }
    <p (click)="deleteUser()">Delete Account</p>
    
}