@if(!displayForm){
    @if(!isLoggedIn()){
        <button class="openButton" (click)="toggleDisplay()">Login</button>
    }
    @else {
        <img class="userImg" [src]="createImgPath(activeUser().image.path)"><p class="displayName">{{activeUser().userName}}</p>
        <button class="logoutButton" (click)="logout()">Logout</button>
    }
}
@else {
    <button class="closeButton" (click)="toggleDisplay()">Close</button>
    <div class="form-floating">
        <input class="form-control form-control-sm" type="text" id="user" placeholder="someone"[(ngModel)]="username">
        <label for="someone">Username</label>
    </div>
    <div class="form-floating">
        <input class="form-control form-control-sm" type="password" id="pass" placeholder="12345" [(ngModel)]="password">
        <label for="pass">Password</label>
    </div>
        
    
    

    
    <button class="loginButton" (click)="login(username, password)">Login</button>
    <button class="registerButton" routerLink="/RegisterUser">New User? Register Here</button>
}




