<div class="formBox">
    <h1 class="col-4 offset-4 text-center headerfont" style="margin-top: 2rem;">Add Event Form</h1>
    <div class="col-4 offset-4 form-floating" style="margin-top: 4rem;">
        <input class="form-control" id="name" placeholder="event" type="text" [(ngModel)]="name">
        <label for="name">Event Name</label>
    </div>

    <div class="col-4 offset-4" style="margin-top: 2rem;">
        <label for="description">Event Description</label>
        <textarea class="form-control" placeholder="Tell us about your event" id="description" rows="3" [(ngModel)]="description"></textarea>
        
    </div>

    <div class="row" style="margin-top: 2rem;">
        <div class="col-3 offset-3">
            <label for="startDate">Start Date</label>
            <input class="form-control" id="startDate" type="date" [(ngModel)]="startDate">
        </div>

        <div class="col-3">
            <label for="endDate">End Date</label>
            <input class="form-control" id="endDate" type="date" [(ngModel)]="endDate">
        </div>
    </div>

    <div class="row" style="margin-top: 2rem;">
        <div class="col-3 offset-3">
            <div class="form-floating">
                <input class="form-control" id="city" placeholder="detroit" type="text" [(ngModel)]="city">
                <label for="city">City</label>
            </div>
        </div>
        
        <div class="col-1 align-self-start" style="margin-left: 4rem;">
            <label for="state">State</label>
            <select class="form-control" id="state" [(ngModel)]="state">
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
            </select>
        </div>

        <div class="col-1">
            <label for="expired">Expired?</label>
            <select class="form-control" id="expired" [(ngModel)]="expired">
                <option value="true">True</option>
                <option value="false">False</option>
            </select>
        </div>
    </div>
    
    <div class="row" style="margin-top: 2rem;">
        <div class="col-2 offset-4">
            <input type="file" (change)="onFileSelected($event)">
        </div>

        <div class="col-2" style="margin-left: 3rem;">
            <button class="formButton" (click)="updateEvent()">Add New Event</button>
        </div>
    </div>
    
    
</div>

