<app-nav-bar></app-nav-bar>
<h1>{{displayEvent.name}}</h1>
<img [src]="createImgPath(displayEvent.image.path)">
<h2>{{displayEvent.city}},{{displayEvent.state}}</h2>
<h3>From - {{displayEvent.startDate | date : 'shortDate'}} to {{displayEvent.endDate | date : 'shortDate'}}</h3>
<p>About: {{displayEvent.description}}</p>
@if(isLoggedIn()){
    @if(!containsEvent()){
        <button (click)="addToFavs(displayEvent.eventId)">Add to Favorites</button> 
    }
    @else {
        <button (click)="removeFavs(displayEvent.eventId)">Remove from Favorites</button>
    }
}
@if(displayEvent.users.length > 0){
    <h3>Who's Going?</h3>
}
<ul>
@for(user of displayEvent.users; track $index){
    <li><img [src]="createImgPath(user.image.path)"><a routerLink="/Profile/{{user.userId}}">{{user.userName}}</a></li>
}
</ul>

<button (click)="deleteEvent()">Delete Event?</button>
<button (click)="toggleFormDisplay()">Show Update Form?</button>
@if(formDisplay){
    <app-event-form [targetId]="displayEvent.eventId"></app-event-form>
}
