<div [class]="cardClass()" style="width: 18rem">
    <a routerLink="/Event/{{displayEvent.eventId}}"><img class="card-img-top" [src]="createImgPath(displayEvent.image.path)"></a>
    <div class="card-body">
        <h4 class="card-title headerfont"><a routerLink="/Event/{{displayEvent.eventId}}">{{displayEvent.name}}</a></h4>
        @if(displayEvent.startDate != null){
            <p class="card-subtitle mb-2 text-body-secondary">From {{displayEvent.startDate | date : 'shortDate'}} - {{displayEvent.endDate | date : 'shortDate'}}</p>
        }
        <p class="card-text">{{displayEvent.description}}</p>
        @if(isLoggedIn()){
            @if(!containsEvent()){
                <button class="favsButton" (click)="addToFavs(displayEvent.eventId)" style="cursor: pointer;">Add To Your Favorites!</button>
            }
            @else {
                <button class="favsButton" (click)="removeFavs(displayEvent.eventId)" style="cursor: pointer;">Remove From Your Favorites</button>
            }
        }
        
        @if(!displayUser){ 
            @if(displayEvent.users != null){
                <button class="openButton" (click)="toggleUserDisplay()">See Who's Going!</button>
            }
        }
        @else {
            <button class="closeButton" (click)="toggleUserDisplay()">Close</button>
            <div [class.visitorsBox]="displayUser">
                <ul>
                    @for(u of displayEvent.users; track $index){
                        <li>
                            @if(u.image.path != null){
                               <a routerLink="/Profile/{{u.userId}}"><img class="userClass" [src]="createImgPath(u.image.path)"></a> 
                            }
                             
                            <span class="userLinks"><a routerLink="/Profile/{{u.userId}}">{{u.userName}}</a></span>
                        </li>
                    }
                    </ul>
            </div>
            
        }
        
    </div>  
</div>

    


