/* You can add global styles to this file, and also import other style files
.body{
    background-color: aqua;
} */

.headerfont{
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
}



*{
  font-family: "Truculenta", sans-serif;
}